@{ 
    Layout = null;
}
<div class="form-group">
    <a href="#" onclick="dms.tool.add(this)" data-id="0">
        <i class="glyphicon glyphicon-plus"></i>添加
    </a>
    <a href="#" onclick="dms.tool.delete(this)">
        <i class="glyphicon glyphicon-trash"></i>删除
    </a>
    <a href="#" onclick="dms.tool.refresh()">
        <i class="glyphicon glyphicon-refresh"></i>刷新
    </a>
</div>